.link:not(:first-child) {
  margin-left: 10px;
}

.link {
  width: 50%;
}

.link_button {
  width: 100%;
  height: 30px;
  color: white;
  background: transparent;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
  outline: none;
  border: 1px solid;
  border-color: white;
  border-radius: 0;
  background-repeat: no-repeat;
  background-size: 300% 100%;
  background-position: 0 0;
}

.link_button:hover {
  background-image: linear-gradient(
    to right,
    rgba(200, 200, 200, 0.4),
    rgba(255, 255, 255, 0.4),
    rgba(125, 125, 125, 0.4)
  );
  transition: 0.2s linear;
  background-position: 100% 100%;
  box-shadow: 0 0 10px 2px white;
  cursor: pointer;
}
