@font-face {
  font-family: "BalsamiqSans";
  src: url("./fonts/BalsamiqSans-Regular.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  font-family: "BalsamiqSans";
  box-sizing: border-box;
}

li {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  background: url("./img/dollar.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}

html,
body {
  max-height: 100vh;
}

input,
select {
  outline: none;
}

button:focus,
select,
:active {
  outline-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1030px;
  margin: 0 auto;
  padding-top: 30px;
  max-height: 100vh;
}

.main-div {
  height: 100%;
  overflow: auto;
  position: relative;
  padding-top: 30px;
}

.some-list {
  margin: 0 auto;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  color: white;
  flex-grow: 3;
  max-height: 100%;
  overflow: auto;
}

.greyback {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.secondary {
  text-align: center;
}

.whiteback:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.blackback {
  border-color: black !important;
  color: black !important;
}

.blackback:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.collection-div {
  position: relative;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 500px;
  height: 550px;
  z-index: 5;
  background-color: black;
  border: 8px solid gainsboro;
  box-shadow: 0 0 8px 3px white;
}

.close {
  position: absolute;
  display: block;
  right: 3px;
  top: 4px;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  opacity: 1;
  width: 30px;
  height: 30px;
  z-index: 7;
}

.close:hover {
  color: white;
}

.center-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 36px;
}

.center-div button img {
  background: none;
  width: 30px;
  height: 30px;
}

.center-div button {
  border: 0;
  background: none;
  width: 30px;
  height: 30px;
}

.center-div button:hover {
  cursor: pointer;
}

.header {
  width: 150px;
}

.auto-div {
  display: flex;
  width: 700px;
  justify-content: space-between;
  overflow: auto;
}

.auto-div div {
  margin-right: 10px;
}

.collection-form {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 45px;
  padding: 5px 10px;
}

.collection-form input {
  display: block;
  width: 100%;
  height: 30px;
}

.collection-form button {
  width: 120px;
  height: 30px;
  background: none;
  border: 2px solid white;
  color: white;
  transition: 0.4s;
}

.collection-form button:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.add-form-div {
  height: 30px;
  width: 70%;
}

.add-form-div input {
  height: 26px;
}

::-webkit-scrollbar {
  width: 10px;
  background: none;
  border: 2px solid white;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}
